Repository nathanielmillard/rume, pull requests merged in 2020-10, with the labels that each got.

#4 File structure
  package-lock.json
  package.json
  pull_request_template.md
  src/App.js
  src/Components/App/App.css
  src/Components/App/App.js
  src/Components/App/App.test.js
  src/Components/BreathingRoom/BreathingRoom.js
  src/Components/BreathingRoom/BreathingRoom.scss
  src/Components/BreathingRoom/BreathingRoom.test.js
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/FeelingRoom.scss
  src/Components/FeelingRoom/FeelingRoom.test.js
  src/Components/Lobby/Lobby.js
  src/Components/Lobby/Lobby.scss
  src/Components/Lobby/Lobby.test.js
  src/Components/ReflectionForm/ReflectionForm.js
  src/Components/ReflectionForm/ReflectionForm.scss
  src/Components/ReflectionForm/ReflectionForm.test.js
  src/Components/ReflectionList/ReflectionList.js
  src/Components/ReflectionList/ReflectionList.scss
  src/Components/ReflectionList/ReflectionList.test.js
  src/index.js
  src/index.scss
  src/logo.svg
Labels: Documentation, Priority 1, React.js

#19 Lobby setup
  public/index.html
  src/Assets/emptyLogo.svg
  src/Components/App/App.css
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/App/App.test.js
  src/Components/Lobby/Lobby.js
  src/Components/Lobby/Lobby.scss
  src/Components/Lobby/Lobby.test.js
Labels: Feature, Priority 1, SCSS

#22 Reflection form
  public/index.html
  src/Components/App/App.js
  src/Components/Lobby/Lobby.js
  src/Components/ReflectionForm/ReflectionForm.js
  src/Components/ReflectionForm/ReflectionForm.scss
  src/apiCalls.js
Labels: Documentation, Feature, Priority 1, React.js

#30 Reflections library
  src/Components/App/App.js
  src/Components/ReflectionCard/ReflectionCard.js
  src/Components/ReflectionCard/ReflectionCard.scss
  src/Components/ReflectionCard/ReflectionCard.test.js
  src/Components/ReflectionForm/ReflectionForm.scss
  src/Components/ReflectionLibrary/ReflectionLibrary.js
  src/Components/ReflectionLibrary/ReflectionLibrary.scss
  src/Components/ReflectionLibrary/ReflectionLibrary.test.js
  src/Components/ReflectionList/ReflectionList.js
  src/Components/ReflectionList/ReflectionList.test.js
  src/apiCalls.js
Labels: Feature, Priority 1, React.js, Refactor, SCSS

#33 Basic design
  package-lock.json
  package.json
  src/Assets/AngryJournal.jpg
  src/Assets/AnxiousJournal.jpg
  src/Assets/FineJournal.jpg
  src/Assets/SadJournal.jpg
  src/Assets/closedLogo.svg
  src/Assets/openLogo.svg
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/Lobby/Lobby.js
  src/Components/Lobby/Lobby.scss
  src/Components/ReflectionCard/ReflectionCard.js
  src/Components/ReflectionCard/ReflectionCard.scss
  src/Components/ReflectionForm/ReflectionForm.js
  src/Components/ReflectionForm/ReflectionForm.scss
  src/Components/ReflectionLibrary/ReflectionLibrary.scss
  src/Components/WelcomePage/WelcomePage.js
  src/Components/WelcomePage/WelcomePage.scss
  src/StyledComponents.js
Labels: Feature, Priority 1, React.js, SCSS, Styled Component
