Repository nathanielmillard/rume, pull requests merged in 2020-11, with the labels that each got.

#35 Animation set up
  package-lock.json
  package.json
  src/Components/App/App.js
  src/Components/BreathingRoom/BreathingRoom.js
  src/Components/BreathingRoom/BreathingRoom.scss
  src/Components/BreathingRoom/BreathingRoomAnimation.js
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/angryAnimations.js
  src/Components/FeelingRoom/anxiousAnimations.js
  src/Components/FeelingRoom/fineAnimations.js
  src/Components/FeelingRoom/sadAnimations.js
  src/Components/Lobby/Lobby.js
  src/Components/Lobby/Lobby.scss
  src/apiCalls.js
Labels: Animation, Documentation, Feature, Priority 1, React.js

#46 Feeling Room Fine ; Animations
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/anxiousAnimations.scss
  src/Components/FeelingRoom/fineAnimations.js
  src/Components/FeelingRoom/fineAnimations.scss
Labels: Animation, Feature, Priority 1, SCSS

#44 Feeling room initial angry animation
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/angryAnimations.js
  src/Components/FeelingRoom/angryAnimations.scss
Labels: Animation, Feature, Priority 1, SCSS

#49 Feeling Room ; Anxiety Animation
  src/Assets/pause.svg
  src/Assets/play.svg
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/anxiousAnimations.js
  src/Components/FeelingRoom/anxiousAnimations.scss
Labels: Animation, Feature, Priority 1, SCSS

#50 Connect Deployed Micro Service
  src/Components/ReflectionLibrary/ReflectionLibrary.js
  src/apiCalls.js
Labels: Bug Fix, Feature, Priority 1

#51 Feeling room angry part2
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/FeelingRoom.scss
  src/Components/FeelingRoom/angryAnimations.js
  src/Components/FeelingRoom/angryAnimations.scss
Labels: Animation, Feature, Priority 1, React.js, Refactor, SCSS

#57 UI/UX Polish
  public/index.html
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/BreathingRoom/BreathingRoom.js
  src/Components/BreathingRoom/BreathingRoomAnimation.js
  src/Components/FeelingRoom/SadAnimation.scss
  src/Components/FeelingRoom/angryAnimations.scss
  src/Components/FeelingRoom/anxiousAnimations.scss
  src/Components/FeelingRoom/fineAnimations.js
  src/Components/FeelingRoom/sadAnimations.js
  src/Components/Lobby/Lobby.js
  src/Components/Lobby/Lobby.scss
  src/Components/ReflectionForm/ReflectionForm.scss
  src/Components/ReflectionLibrary/ReflectionLibrary.js
  src/Components/WelcomePage/WelcomePage.js
  src/Components/WelcomePage/WelcomePage.scss
  src/StyledComponents.js
  src/apiCalls.js
  src/variables.scss
Labels: Animation, Bug Fix, Priority 1, SCSS, Sad Path, Styled Component

#59 Final testing
  src/Components/App/App.test.js
  src/Components/BreathingRoom/BreathingRoom.js
  src/Components/BreathingRoom/BreathingRoom.test.js
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/FeelingRoom.test.js
  src/Components/Lobby/Lobby.test.js
  src/Components/ReflectionForm/ReflectionForm.test.js
  src/Components/ReflectionLibrary/ReflectionLibrary.test.js
Labels: Refactor, Testing

#69 Audio adjust
  public/favicon.ico
  public/index.html
  public/logo192.png
  src/Components/BreathingRoom/BreathingRoom.test.js
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/angryAnimations.js
  src/Components/FeelingRoom/sadAnimations.js
  src/Components/Lobby/Lobby.js
  src/Components/ReflectionForm/ReflectionForm.test.js
  src/Components/ReflectionLibrary/ReflectionLibrary.test.js
  src/Components/WelcomePage/WelcomePage.js
Labels: Bug Fix, Feature, Priority 1, Refactor

#70 Ux polish
  README.md
  src/Components/App/App.scss
  src/Components/BreathingRoom/BreathingRoom.js
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/FeelingRoom.scss
  src/Components/Lobby/Lobby.js
  src/Components/Lobby/Lobby.scss
  src/Components/ReflectionForm/ReflectionForm.js
  src/Components/ReflectionForm/ReflectionForm.scss
  src/Components/ReflectionLibrary/ReflectionLibrary.js
  src/StyledComponents.js
Labels: Documentation, Feature, Refactor, SCSS, Styled Component

#71 Animation refactor
  src/Components/FeelingRoom/FeelingRoom-SC.js
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/FeelingRoom.scss
  src/Components/FeelingRoom/FeelingRoom.test.js
  src/Components/FeelingRoom/SadAnimation.scss
  src/Components/FeelingRoom/angryAnimations.js
  src/Components/FeelingRoom/anxiousAnimations.js
  src/Components/FeelingRoom/fineAnimations.js
  src/Components/FeelingRoom/fineAnimations.scss
  src/Components/FeelingRoom/sadAnimations.js
  src/Components/ReflectionLibrary/ReflectionLibrary.js
  src/Components/WelcomePage/WelcomePage.js
Labels: Refactor, SCSS, Styled Component, Testing

#73 Sad animation polish
  src/Components/FeelingRoom/FeelingRoom-SC.js
  src/Components/FeelingRoom/sadAnimations.js
Labels: Animation

#74 Anxiety Room Refactor
  src/Assets/hexoutline1.png
  src/Assets/hexoutline2.png
  src/Assets/hexoutline3.png
  src/Assets/hexoutlineblur1.png
  src/Assets/hexoutlineblur2.png
  src/Assets/hexoutlineblur3.png
  src/Assets/hexsolid1.png
  src/Assets/hexsolid2.png
  src/Components/FeelingRoom/FeelingRoom.js
  src/Components/FeelingRoom/anxiousAnimations.js
  src/Components/FeelingRoom/anxiousAnimations.scss
Labels: Refactor
